.primaryContainer{
    padding-top: 64px;
    color: aliceblue;
}
h2{
    margin: 0;
}
.subtitle-h2{
    color: #2b314d;
    margin: 32px 0 0 64px;
    font-size: 36px;
    font-family: 'Bruno Ace SC', cursive;
    width: 220px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2b314d;
}
.container{
    width: calc(100vw - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}
.hobbie-1, .hobbie-2, .hobbie-3, .hobbie-4, .hobbie-5{
    border-radius: 16px;
    width: 360px;
    background: #1d2b3d8a;
    margin: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    
    transition: all 0.5s;
}
.hobbie-1:hover, .hobbie-2:hover, .hobbie-3:hover, .hobbie-4:hover, .hobbie-5:hover{
    background: #3a42689f;
    transform: scale(1.08);
    box-shadow: 1px 1px 32px #3a42687a;
}
.hobbieName{
    margin-bottom: 16px;
}
.hobbie-1 img, .hobbie-2 img, .hobbie-3 img, .hobbie-4 img, .hobbie-5 img {
    width: 150px;
}