span{
    font-weight: bold;
}
.subtitle-2{ 
    color: #2b314d;
    margin: 32px 0 64px 64px;
    font-size: 36px;
    font-family: 'Bruno Ace SC', cursive;
    padding-top: 42px;
}
.tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tecnologia{
    width: 240px;
    background: #565a6b19;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}
.tecnologia h2{
    color: #95acce;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconTecnologia{
    width: 120px;
}
.html, .css, .javascript, .react{
    color: gray;
    transition: all 1s;
    font-size: 18px;
    border-radius: 18px;
}
.html:hover{
    background: rgba(255, 115, 0, 0.427);
    cursor: pointer;
    box-shadow: 1px 1px 55px rgba(168, 87, 0, 0.52);
    transform: scale(1.08);
    color: antiquewhite;
}
.css:hover{
    background: rgba(0, 149, 255, 0.42);
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 55px rgba(0, 92, 168, 0.397);
    transform: scale(1.08);
    color: antiquewhite;
}
.javascript:hover{
    background: rgba(255, 213, 0, 0.527);
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 55px rgba(165, 168, 0, 0.397);
    transform: scale(1.08);
    color: antiquewhite;
}
.react:hover{
    background: rgba(9, 189, 177, 0.313);
    cursor: pointer;
    box-shadow: 1px 1px 55px rgba(0, 168, 157, 0.268);
    transform: scale(1.08);
    color: antiquewhite;
}
.pro-1, .pro-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.pro-1 a, .pro-2 a{
    text-decoration: none;
    color: #95acce;
    font-size: 20px;
    width: 120px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    
    transition: all 0.5s;
}
.pro-1 a:hover{
    background-color: rgba(248, 211, 0, 0.824);
    color: black;
}
.pro-2 a:hover{
    background-color: rgb(2, 186, 196);
    color: black;
}