span{
    font-weight: bold;
}
.subtitle-2{ 
    color: #2b314d;
    margin: 64px 0 64px 64px;
    font-size: 36px;
    font-family: var(--font-sub-title);
    border-bottom: 1px solid #2b314d;
    letter-spacing: 4px;
}
.tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tecnologia{
    width: 240px;
    background: #565a6b19;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}
.tecnologia h2{
    color: #95acce;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconTecnologia{
    width: 120px;
}
.html, .css, .javascript, .react{
    color: gray;
    transition: all 1s;
    font-size: 18px;
    border-radius: 18px;
    border: 1px solid #071ea300;
    font-family: var(--font-paragraph);
}
.html:hover, .css:hover, .javascript:hover, .react:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(169, 215, 255);
    background: #0f1329a6;  
    border: 1px solid #071ea3c9;
    box-shadow: 0 0 12px rgba(122, 50, 190, 0.959);
    border-radius: 4px;
    .spanTechnologies{
        text-shadow: 0 0 16px #071ea3c9; 
        transition: all 1s;
        color: aliceblue;
    }
}
.proyectosContainer{
    background-color: rgba(15, 15, 15, 0.568);
}
.pro-1, .pro-2, .pro-3, .pro-4{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 12px;
    
}
.proyectos{
    width: 98%;
}

.pro-1 a, .pro-2 a, .pro-3 a, .pro-4 a{
    text-decoration: none;
    color: #95acce;
    font-size: 20px;
    margin: 0 0 8px 0;
    width: 120px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 4px;
    font-family: var(--font-paragraph);
    
    transition: all 0.5s;
}
.pro-1 a:hover, .pro-2 a:hover, .pro-3 a:hover, .pro-4 a:hover{
    border: 1px solid #071ea3c9;
    box-shadow: 0 0 12px rgba(122, 50, 190, 0.959);
    background: #0f1329a6;  

    transform: scale(1.1);
}
@media (max-width: 700px){
    .tecnologia{
        width: 70%;
    }
    .html, .css, .javascript, .react{
        cursor: pointer;
        transform: scale(1);
        color: rgb(169, 215, 255);
        background: #0f1329a6;  
        border: 1px solid #071ea3c9;
        box-shadow: 0 0 12px rgba(122, 50, 190, 0.959);
        border-radius: 4px;
        font-family: var(--font-paragraph);
        .spanTechnologies{
            text-shadow: 0 0 16px #071ea3c9; 
            transition: all 1s;
            color: aliceblue;
        }
    }
    .pro-1 a, .pro-2 a, .pro-3 a, .pro-4 a{
        background: #0f1329a6; 
        box-shadow: 0 0 8px rgba(119, 119, 119, 0.863);
        width: 180px;
    }
}